version: '3.5'
services:
  homeassistant:
    container_name: homeassistant
    image: homeassistant/raspberrypi3-homeassistant:{{ homeassistant_version }}
    volumes:
      - {{ homeassistant_conf_dir }}:/config
    network_mode: host
    restart: always