[Unit]
Description=Home Assistant
Wants=influxdb.service
After=network.target influxdb.service

[Service]
Type=simple
User={{ homeassistant_user }}
ExecStart={{ hass_command.stdout }} --config {{ homeassistant_conf_dir }}

[Install]
WantedBy=multi-user.target
